<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memberSave</title>
</head>
<body>
<form action="/member/save" method="post" enctype="multipart/form-data">
  <input type="text" name="memberEmail" id="memberEmail" placeholder="이메일">
  <input type="text" name="memberEmail" id="memberPassword" placeholder="비밀번호">
  <input type="text" name="memberEmail" id="memberName" placeholder="이름">
  <input type="text" name="memberEmail" id="memberMobile" placeholder="전화번호">
  <input type="file" name="memberFile" multiple>
  <input type="submit" value="회원가입">



</form>
</body>
</html>